svg {
  background: #eee;
  overflow: visible;
  display: block;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px;
}

button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
}

#parameter-col{
  background-color: red;
}

#name-input{
  margin-left: 5%;
  margin-top: 5%;
}

#num-track-display{
  margin:5%;
  display:inline-block;

}

.trackbutton {
  display:inline-block;

  border-radius: 12px;
  max-width:10%;
  margin: 1%;
}